<form id="addNameForm" action="/" method="POST">
  <label for="add-name">Add a user</label>
  <input id="add-name" type="text" name="name" placeholder="Add a name..." autocomplete="off" />

  <button type='submit'>Submit</button>
</form>
