<form action="/login" method="POST">
  <h3>Login</h3>
  <label for="login-user">Username</label>
  <input id="login-user" type="text" name="username" placeholder="Username..." autocomplete="off" autofocus />

  <label for="login-pwd">Password</label>
  <input id="login-pwd" type="password" name="password" placeholder="Password..." autocomplete="off" />
  {{loginError}}

  <button type='submit'>Submit</button>
</form>
